<header>
<nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #f5dc00;">
  <a class="navbar-brand" style="font-weight: bold; font-size: 30px; color: rgb(0, 0, 0);">Loja Api</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/produtos-list" routerLinkActive="active" class="nav-link"  style="font-weight: bold; font-size: 27px; color: rgb(0, 0, 0); ">Produtos 
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/vendas-list" routerLinkActive="active" class="nav-link"  style="font-weight: bold; font-size: 27px; color: rgb(0, 0, 0);">Vendas</a>
      </li>
    </ul>
    <a href="#" class="nav-link">Login administrativo</a>
  </div>
</nav>

</header>
<div>
  <router-outlet></router-outlet>
</div>
