<div class="box-list list-inline-item box-middle" style="height: max-content; width: 400px;">
  <h2 style="font-weight: bold;">Novo Produto </h2>
  <form style="text-align: left; padding: 5px;" method="POST" #frmP="ngForm" (ngSubmit)="postProduto(frm)">
    <hr>
    <label for="name" style=" color: rgb(0, 0, 0);"> Nome:</label>
    <input class="form-control" type="text" id="name" name="name" [(ngModel)]="novoProduto.name" required>
    <label for="qtd" style=" color: rgb(0, 0, 0);"> Quantidade: </label>
    <input class="form-control" type="number" min="0" id="qtd" name="quantidade" [(ngModel)]="novoProduto.quantidade"
      required>
    <label for="preco" style=" color: rgb(0, 0, 0);"> Preco: </label>
    <input class="form-control" type="number" min="1" id="preco" name="preco" [(ngModel)]="novoProduto.preco" required>
    <br>
    <hr>
    <div style="text-align: center;">
      <button [disabled]="frmP.invalid" class="btn btn-lg btn-primary" type="submit"> Confirmar </button>
    </div>
   
  </form>
  <p ([ngModel])="mensagem" style="font-size: 17px; color: rgb(255, 0, 0); font-weight: bold;">{{ mensagem }} </p>
</div>